*{box-sizing:border-box}
body,html{height:100%;scroll-behavior:smooth}
body{display:flex;flex-direction:column;flex-wrap:nowrap}
.navbar-list{list-style:none;margin-bottom:0;display:flex;justify-content:space-evenly}
.navbar{position:fixed;padding:7px;display:flex;justify-content:space-evenly;width:100%;background:#f5f5f5;z-index:99;border-top:1px solid #eee;border-bottom:1px solid #eee}
.navbar-item{position:relative;display:inline}
.navbar-link{text-transform:uppercase;font-size:2vw;font-weight:600;letter-spacing:.2rem;text-decoration:none;color:#000}
.loader{margin:0 auto;height:20px;width:20px;animation:shine 970ms ease infinite;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
@keyframes shine{50%{outline-width:7px}
100%{outline-color:#fff;outline-width:7px}}
@-webkit-keyframes shine{50%{outline-width:7px}
100%{outline-color:#fff;outline-width:7px}}
@-moz-keyframes shine{50%{outline-width:7px}
100%{outline-color:#fff;outline-width:7px}}
@-o-keyframes shine{50%{outline-width:7px}
100%{outline-color:#fff;outline-width:7px}}
body{background-color:#f5f5f5;color:#000}
.brand,.heading{color:#689f38}
.button: hover{background-color:#689f38}
.loader{outline:0 solid #689f38}
.back{text-align:right;position:fixed;right:20px;bottom:20px}
section#landing .back,section#latest .back,section#random .back{top:-60px}
section#mealCardsSection .back{top:0}
.back img{height:40px;width:40px;transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg)}
.button{font-weight:700;font-size:13px;border:1px solid #000}
.button: hover{transition:all .5s ease;color:#fff}
.button,.card{box-shadow:2px 6px 15px rgba(0,0,0,.1)}
.card{border-radius:7px;margin:10px}
.card img{width:100%;max-height:150px}
.card-body{padding:5px 15px}
.cardTitle{margin-bottom:5px}
.mealCards{text-align:center}
.mealCards .columns{margin-left:0}
.chefimg{height:39px;width:39px;transform:rotate(32deg);-webkit-transform:rotate(32deg);-moz-transform:rotate(32deg);-o-transform:rotate(32deg)}
.d-flex{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:middle}
.heading{text-transform:uppercase;font-size:40px;font-weight:700;font-family:'Roboto Slab',serif;transform:rotate(-5deg);-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);-o-transform:rotate(-5deg);text-align:center;margin-bottom:0}
.mealMetadata ul>li{margin:0;float:left;width:50%}
.mealMetadata ul{margin-bottom:0}
.mealInstructions span,.mealMetadata span{margin-right:20px;font-weight:700;text-transform:uppercase}
.mealImg>img{height:100%;width:100%;border-radius:100%;box-shadow:0 5px 15px rgba(0,0,0,.2)}
section#landing{display:flex;flex-direction:row;align-items:center;height:100vh}
section#landing>.container{margin-top:-100px}
section{height:80vh}
section#landing .chefimg{top:-20px;right:-3px}
section#random .chefimg{top:5px;right:-14px}
section#mealCardsSection .chefimg{top:-20px;right:22px}
footer{bottom:0;text-align:center}
a{cursor:pointer}
.brand{font-size:5vw;font-weight:700}
.brand: focus,.brand: hover,.brand: visited{color:#000}
main{justify-content:center;align-items:center}
#userInput{font-weight:700}
@media (min-width:440px){
.brand{font-size:3vw}
.navbar-link{font-size:1.5vw}}
@media (max-width:800px){
.heading{margin:20px;width:80vw}
}